{% extends 'base.html' %}
{% block help_message %}
    <div class="alert alert-info help-message">
        <p>{{ action }}是 为当前交换机添加绑定消息队列。需要选择一个要绑定的消息队列名称，并填写正确的路由键(routing key)</p>
    </div>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ action }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="queueForm" class="form-horizontal" action="">
                            {% csrf_token %}
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success">{{ msg | safe }}</div>
                            {% endif %}
                            <h3>绑定信息填写</h3>
                            <div class="form-group">
                                <label for="cluster" class="col-sm-2 control-label">集群(cluster)<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="cluster" name="cluster" value="{{ f_data.cluster }}" type="text" readonly="readonly"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vhost" class="col-sm-2 control-label">虚拟主机<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="vhost" name="vhost" value="{{ f_data.vhost }}" type="text" readonly="readonly"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exchange" class="col-sm-2 control-label">交换机(exchange)<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="exchange" name="exchange" value="{{ f_data.exchange }}" type="text" readonly="readonly"
                                           class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-sm-2 control-label">目标类型(type)<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="type" class="form-control">
                                        <option value="q" selected>消息队列(queue)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="destination" class="col-sm-2 control-label">目标(destination)<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="destination" class="form-control">
                                        {% for i in queue_list %}
                                            <option value="{{ i.name }}">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="routing_key"
                                       class="col-sm-2 control-label">路由键(routing_key)<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="routing_key" name="routing_key" placeholder="路由键" type="text"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}