{% extends '_base_list.html' %}
{% load common_tags %}
{% block help_message %}
    <div class="alert alert-info help-message">
        <p>{{ action }}是 用来查看当前交换机(exchange)绑定的消息队列或者交换机信息。</p>
    </div>
{% endblock %}
{% block table_head %}
    <td align="center">环境</td>
    <td align="center">虚拟主机</td>
    <td align="center">交换机</td>
    <td align="center">目标</td>
    <td align="center">目标类型</td>
    <td align="center">路由键</td>
    <td align="center">参数</td>
    <td align="center">操作</td>
{% endblock %}

{% block table_body %}
    {% for cluster,info in binding_list.items %}
        {% for i in info %}
            <tr>
                <td align="center">{{ cluster }}</td>
                <td align="center">{{ i.vhost }}</td>
                <td align="center">{{ i.source }}</td>
                <td align="center">{{ i.destination }}</td>
                <td align="center">{{ i.destination_type }}</td>
                <td align="center">{{ i.routing_key }}</td>
                <td align="center">{{ i.arguments }}</td>
                <td align="center">
                    <a class="btn btn-xs btn-danger btn_binding_delete {% if request.user.role != 'Admin' %}disabled{% endif %}"
                       data-cluster="{{ cluster }}"
                       data-vhost="{{ i.vhost }}"
                       data-exchange="{{ i.source }}"
                       data-destination="{{ i.destination }}"
                       data-destination_type="{% if i.destination_type == 'queue' %}q{% elif i.destination_type == 'exchange' %}e{% endif %}"
                       data-properties_key="{% if i.routing_key %}{{ i.routing_key }}{% else %}~{% endif %}">
                        删除
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block custom_foot_js %}
    <script>
        $(document).ready().on('click', '.btn_binding_delete', function () {
            var $this = $(this);
            var cluster = $this.data('cluster');
            var vhost = $this.data('vhost');
            var exchange = $this.data('exchange');
            var destination = $this.data('destination');
            var type = $this.data('destination_type');
            var properties_key = $this.data('properties_key');
            var url = '{% url 'mq:binding-delete'%}?cluster=cluster0000000000&vhost=vhost0000000000&exchange=exchange0000000000&destination=destination0000000000&type=destination_type0000000000&properties_key=properties_key0000000000'.replace("cluster0000000000", cluster).replace("vhost0000000000", vhost).replace("exchange0000000000", exchange).replace("destination0000000000", destination).replace("destination_type0000000000", type).replace("properties_key0000000000", properties_key);
            var content = cluster + '集群的虚拟主机' + vhost + '中的交换机' + exchange + '绑定的队列' + destination + '属性键为' + properties_key
            objectDeleteGet($this, url, content);
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 10,
                responsive: false,
                //dom: '<"html5buttons"B>lTfgitp',
                //dom: '<"html5buttons"B><"top"f>rt<"bottom"pli><"clear">',
                dom: 'Blfrtip',
                bStateSave: true,
                buttons: [
                    {% if request.user.role == 'Operator' %}
                        {
                            text: '添加绑定', action: function (e, dt, button, config) {
                                window.location = '{% url 'mq:binding-add' %}?cluster={{ res.cluster|url_encode }}&vhost={{ res.vhost|url_encode }}&exchange={{ res.exchange|url_encode }}';
                            }
                        },
                    {% endif %}
                    {extend: 'copy', text: '复制到剪贴板'},
                    {extend: 'csv', text: '导出CSV', title: '权限搜索结果'},
                    {extend: 'excel', text: '导出EXCEL', title: '权限搜索结果'},
                ], "oLanguage": { // 国际化配置
                    "sProcessing": "正在获取数据，请稍后...",
                    "sLengthMenu": "显示 _MENU_ 条",
                    "sZeroRecords": "没有找到数据",
                    "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                    "sInfoEmpty": "记录数为0",
                    "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "最后一页"
                    }
                }

            });

        });
    </script>
{% endblock %}