{% load static %}
<!-- Mainly scripts -->
<script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

<!-- Toastr -->
<script src="{% static "js/plugins/toastr/toastr.min.js" %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static "js/inspinia.js" %}"></script>
<script src="{% static "js/xxdns.js" %}"></script>
<script src="{% static "js/plugins/dropzone/dropzone.js" %}"></script>
<script src="{% static "js/plugins/pace/pace.min.js" %}"></script>