{% extends '_base_list.html' %}
{% block content_left_head %}
    <div class="pull-left m-r-5"><a href="#" class="btn btn-sm btn-primary ">创建用户</a></div>
{% endblock %}
{% block table_head %}
    <th>名称</th>
    <th>类型</th>
    <th>创建日期</th>
    <th>更改日期</th>
    <th>操作</th>
{% endblock %}
{% block table_body %}
    <tr class="gradeX">
        <td>Trident</td>
        <td>Internet
            Explorer 4.0
        </td>
        <td>Win 95+</td>
        <td class="center">4</td>
        <td class="center">X</td>
    </tr>
    <tr class="gradeC">
        <td>Trident</td>
        <td>Internet
            Explorer 5.0
        </td>
        <td>Win 95+</td>
        <td class="center">5</td>
        <td class="center">C</td>
    </tr>
    <tr class="gradeX">
        <td>Trident</td>
        <td>Internet
            Explorer 4.0
        </td>
        <td>Win 95+</td>
        <td class="center">4</td>
        <td class="center">X</td>
    </tr>
    <tr class="gradeC">
        <td>Trident</td>
        <td>Internet
            Explorer 5.0
        </td>
        <td>Win 95+</td>
        <td class="center">5</td>
        <td class="center">C</td>
    </tr>
{% endblock %}